.progress-tracker{
    padding: 1rem;
    width: 100%;
}

.prohress-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 20px;
}

.tracker{
    display: flex;
    width: 100%;
    padding: 1rem 0rem;
    border-top: 1px solid #a8a8a8;
}

.tracker-left{
    padding: 0.5rem;
    width: 20%;
}

.tracker-mid{
    padding: 0.5rem;
    width: 70%;
}

.tracker-right{
    padding: 0.5rem;
    width: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.tracker-title{
    font-size: 18px;
    color: #444444;
    opacity: 100%;
}

.tracker-para{
    font-size: 12px;
    margin-top: 4px;
    color: #444444;
    opacity: 60%;
}

.tracker-info-1{
    display: flex; 
    align-items: center;
    color: #444444;
    opacity: 60%;
}

.tracker-info{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}