.current-process{
    padding: 1rem;
}

.current-process-cont{
    padding: 0rem 0.5rem;
    padding-bottom: 20px;
}

.green-box{
    background-image: linear-gradient(to right, #67c892, #5aae7f, #4d946c, #407c5a, #346449);
}

.red-box{
    background-image: linear-gradient(to right, #e96a6a, #d45b5a, #bf4b4a, #aa3c3b, #962d2d);
}

.orange-box{
    background-image: linear-gradient(to right, #f48665, #f98c5d, #fc9253, #fd9a4a, #fda23f);
}

.current-box{
    padding: 1.5rem 2rem;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.current-box:hover{
    transform: translateY(-10px);
}

.current-box-no{
    font-size: 32px;
    font-weight: 500;
}

.current-box-text{
    font-size: 26px;
    margin-left: 20px;
}

@media (min-width:1500px){
    .current-process{
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
    }
}